body {
    background-image: url("admin_bg.jpg");
    background-color: aliceblue;
    height: 100%; 
    /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
   }